/* Selector universal */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* selector de tipos */

body{
    background-color: whitesmoke;
    color: white;
    padding-top: 80px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 15px 20px;
}

nav{
    z-index: 1000;
}

.logo{
    font-size: 30px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 15px 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover{
    color: darkcyan;
}

#menu{
    display: none;
}

.menu-icon{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

hr{
    border: none;
    height: 4px;
    background-color: black;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, alpha);
    margin: 20px 0;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

/* selector ID */

#contenedor {
    width: auto;
    height: auto;
    min-height: 530px;
    background-color: white;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px rgba(216, 213, 213, 0.75);
}

#encabezado{
    width: auto;
    height: auto;
    background-color: rgb(53, 112, 79);
    margin: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0px #2e2c2b;
}

/* selector de clases */

.imagen{
    width: 200px;
    height: auto;
}


.img{
    display: block;
    margin: 0px auto;
    height: 200px;
    width: auto;
}

.modelo{
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: transparent;
    font-weight: bold;
    background-color: white;
    color: black;
}

.descripcion{
    font-family: 'Spectral', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:400;
    text-align: justify;
    height: 241px;
    padding: 20px;
    font-style: normal;
    background-color:white;
    color: black;
}

.boton{
    border: none;
    outline: 0;
    width: 100%;
    display: inline-block;
    color: white;
    padding: 8px;
    background-color: rgb(21, 53, 83);
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.boton:hover{
    background-color: rgb(40, 75, 92);
    color: white;
    transform: scale(1,1);
}

.tarjeta{
    box-shadow: 0 4px 8px 0 rgb(44, 41, 37);
    overflow: hidden;
    width: 400px;
    height: 530px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 5%;
    border: transparent;
    margin-bottom: 35px;
    background-color: white;
}

.subtitulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.listas{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}


.tarjetaAlt{
    box-shadow: 0 4px 8px 0 rgb(44, 41, 37);
    overflow: hidden;
    width: 500px;
    height: auto;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    border: transparent;
    margin-bottom: 35px;
    background-color: white;
}


@media(max-width:1442px) {
    .listas{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .tarjeta{
        margin-bottom: 60px;
        width: 50%;
    }

}

@media(max-width:900px) {
    .listas{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .tarjeta{
        margin-bottom: 60px;
        width: 90%;
    }

}


@media(max-width:1116px){
    .menu{
        padding: 15px 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        width: 100%;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
}